@using Trikotazo_Parduotuve.Entities
@using Trikotazo_Parduotuve.Repositories
@page "/KategorijaForm/{Kategorija}"

<h3>Kategorijos forma</h3>

@code {
    [Parameter]
    public string Kategorija { get; set; }


}
