@page "/"
@using Trikotazo_Parduotuve.Entities
@using Trikotazo_Parduotuve.Repositories
@inject KategorijaRepository kategorijaRepository;
@inject SubkategorijaRepository subkategorijaRepository;
@inject TrikotazasRepository trikotazasRepository;
@inject TiekejasRepository tiekejasRepository;
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

@if(tiekejai is null)
{
    <p>Loading...</p>
}
else
{
    foreach(Tiekejas tiekeas in tiekejai)
    {
        <p>@tiekeas.Pavadinimas</p>
        <p>@tiekeas.Kontaktinis_asmuo</p>
    }
}

<button @onclick=Work >Spausk</button>

@code{
    private List<Kategorija> kategorijos;
    private List<Subkategorija> subkategorijos;
    private List<Trikotazas> trikotazai;
    private List<Tiekejas> tiekejai;
    public bool visible = false;

    protected override async Task OnInitializedAsync()
    {
        await LoadTiekejus();
        // await LoadKategorijas();
        // await LoadSubkategorijas();
        // await LoadTrikotazus();
    }

    private async Task LoadKategorijas()
    {
        kategorijos = await kategorijaRepository.GetAllAsync();
    }

    private async Task LoadSubkategorijas()
    {
        subkategorijos = await subkategorijaRepository.GetAllAsync();
    }

    private async Task LoadTrikotazus()
    {
        trikotazai = await trikotazasRepository.GetAllAsync();
    }

    private async Task LoadTiekejus()
    {
        tiekejai = await tiekejasRepository.GetAllAsync();
    }

    public void Work()
    {
        visible = true;
    }
}