@page "/"
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>


<div style="float:left">
    <h2>Kategorijos</h2>
    <p>Kategorijų redagavimas</p>
    <button @onclick="() => GoToList(KATEGORIJOS_LINK)">Peržiūrėti</button>
</div>

<div style="float:left;margin-left:10px;margin-right:10px">
    <h2>Subkategorija</h2>
    <p>Subkategorijų sudarymas peržiūra, redagavimas</p>
    <button @onclick="() => GoToList(SUBKATEGORIJOS_LINK)">Peržiūrėti</button>
</div>

<div style="float:left;margin-left:10px;margin-right:10px">
    <h2>Trikotažas</h2>
    <p>Trikotažo peržiūra, redagavimas</p>
    <button @onclick="() => GoToList(TRIKOTAZAS_LINK)">Peržiūrėti</button>
</div>

<div style="float:left">
    <h2>Ataskaita</h2>
    <p>Trikotažo ataskaita pagal kategoriją bei lytį tam tikrame kainų intervale</p>
    <button @onclick="() => GoToAtaskaita()">Peržiūrėti</button>
</div>

@code{
    private const string KATEGORIJOS_LINK = "/KategorijaList/1";
    private const string SUBKATEGORIJOS_LINK = "/SubkategorijaList/1";
    private const string TRIKOTAZAS_LINK = "/TrikotazasList/1";

    public void GoToList(string link)
    {
        navigationManager.NavigateTo($"{link}");
    }

    public void GoToAtaskaita()
    {
        navigationManager.NavigateTo("/Ataskaita");
    }
}