@page "/KategorijaList"
@using Trikotazo_Parduotuve.Entities
@using Trikotazo_Parduotuve.Repositories
@inject KategorijaRepository kategorijaRepository
@inject NavigationManager navigationManager;
@rendermode InteractiveServer

<h3>Kategorijos</h3>

@if(kategorijos is null)
{
    <h2>Loading...</h2>
}
else
{
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th scope="col">Pavadinimas</th>
                <th scope="col">Aprašymas</th>
            </tr>
        </thead>
        <tbody>
            @foreach(Kategorija kategorija in kategorijos)
            {
                <tr>
                    <td>@kategorija.Pavadinimas</td>
                    <td>@kategorija.Aprasymas</td>
                    <td><button @onclick="()=>GoToKategorijaForm(kategorija)">Peržiūrėti</button></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    public List<Kategorija> kategorijos;

    protected override async Task OnInitializedAsync()
    {
        await LoadKategorijas();

    }

    private async Task LoadKategorijas()
    {
        kategorijos = await kategorijaRepository.GetAllAsync();
    }

    public void GoToKategorijaForm(Kategorija kategorija)
    {
        navigationManager.NavigateTo($"/KategorijaForm/{kategorija.Pavadinimas}");
    }
}
